/* jQuery lightBox plugin - Gallery style */
#gallery 
{
	/*padding:50px;*/
}
#gallery ul { list-style: none; }
.imagenNoticia {
	border: 5px solid #3e3e3e;
	height:150px;
	width:150px;
	margin-left:50px;
}
.imagenNoticia:hover{
	border: 5px solid #fff;
	color: #fff;
}
#gallery ul a:hover { color: #fff; }