<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Business Website Template - Free CSS Templates</title>
<meta name="keywords" content="free css templates, business template, HTML CSS" />
<meta name="description" content="Business Template - Free CSS Templates by TemplateMo.com" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field){

    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;

}
</script>
</head>
<body>
<!--  Free CSS Template by TemplateMo.com  --> 
	<div id="templatemo_background_section_top">
		<div class="templatemo_container">
			<div id="templatemo_header">
				<div id="templatemo_logo">
					<h1><a href="http://www.templatemo.com" target="_parent">BUSINESS TEMPLATE</a></h1>
                  <h2>YOUR COMPANY SLOGAN TEXT GOES HERE</h2>
				</div>
                <div id="templatemo_search_box">
           	    	<form method="post" action="index.html">
                    <label>Search:</label>
                	  <input name="search" value="Search..." type="text" onfocus="clearText(this)" onblur="clearText(this)" />
                	  <input class="button" type="submit" name="Search" value="GO"/>
               	  	</form>
				</div>
                <div id="templatemo_menu">
                	<div id="templatemo_menu_bg_l"></div>
                    <div id="templatemo_menu_bg_r">
                    	<ul>
    						<li class="current"><a href="#" ><b>MAIN PAGE</b></a></li>
        					<li><a href="#"><b>ABOUT US</b></a></li>
        					<li><a href="#"><b>OUR SERVICES</b></a></li>
        					<li><a href="#"><b>OUR SOLUTIONS</b></a></li>	
        					<li><a href="#"><b>CONTACT US</b></a></li>	
    					</ul>
                    </div>
                </div>
			</div><!--  End Of Header  -->
		</div><!--  End Of Container  -->        
        
	</div><!--  End Of Back Ground Section Top  -->
    
    <div id="templatemo_background_section_middle">
    
  <div class="templatemo_container">
			
            <div id="templatemo_content_area">
            	
                <div id="templatemo_left">
					<div class="templatemo_section">
						<div class="templatemo_section_top_pc">
                        	OUR WORK GROUP
	                   	</div>
						<div class="templatemo_section_middle">
							<p>Morbi dui nulla, tristique viverra, commodo mollis, ultricies ut, augue. </p>
							<p>Quisque ut odio. Etiam fringilla vestibulum nulla. Suspendisse venenatis.</p>
							<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Quisque at nulla eu elit adipiscing tempor.</p>
						  <div class="cleaner_with_height">&nbsp;</div>
                	    </div>
                        
                    	<div class="templatemo_section_bottom">
	                    </div>
					</div><!--  End Of Section-->
                    <div class="templatemo_section">
						<div class="templatemo_section_top_pic">
                        	NEWS &amp; EVENTS
	                   	</div>
						<div class="templatemo_section_middle">
                        	<ul>
                                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                                <li><a href="#">Consectetur adipiscing elit</a></li>
                                <li><a href="#">Duis blandit pharetra dui</a></li>
           	            	  	<li><a href="#">Sed metus enim, volutpat at</a></li>
							</ul>
							<ul>
                                <li><a href="#">In fermentum tellus Proin </a></li>
                                <li><a href="#">Donec ut neque a magna </a></li>
                                <li><a href="#">Vivamus euismod. Donec </a></li> 
                                <li><a href="#">Etiam ut massa sed augue </a></li>
                        	</ul>
                            <div class="cleaner_with_height">&nbsp;</div>
                	    </div>
                    	<div class="templatemo_section_bottom">
	                    </div>
					</div><!--  End Of Section-->
                
				</div><!--  End Of Left-->
                
                <div id="templatemo_right">
                	<h1>WELCOME TO OUR BUSINESS COMPANY !</h1>
               	  <p><img alt="Image" src="images/templatemo_image.jpg" />Business template is a <a href="http://www.templatemo.com/page/1" target="_parent">free CSS template</a> provided by <a href="http://www.templatemo.com" target="_parent">templatemo.com</a> website. You may use this template for  your websites. Credit goes to <a href="http://www.smashingmagazine.com" target="_blank">Smashing Magazine</a> for icons. </p>
               	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc quis sem nec tellus blandit tincidunt. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. </p>
               	  <p>Maecenas adipiscing elementum ipsum. Pellentesque vitae magna. Sed nec est. Suspendisse a nibh tristique justo rhoncus volutpat. Suspendisse vitae neque eget ante tristique vestibulum.</p>
               	  <p> Duis faucibus, massa vitae dictum facilisis, ipsum nibh facilisis nisi, ut scelerisque metus enim in tortor. Mauris in sapien in massa pellentesque viverra. Pellentesque lectus justo, fermentum in, ornare vitae, vehicula eu, felis. Thank you for visiting.</p>
           	  <div id="templatemo_bottom_section">
                    	<div class="templatemo_bottom_section_box">
                        	<h2>COMPANY BRIEF</h2>
                            <img alt="company" src="images/templatemo_image_1.jpg" />
                       	  <h3>Praesent mattis varius quam</h3>
							<p>Vestibulum ullamcorper ipsum nec augue. Vestibulum auctor odio eget ante.</p><br />
                            <p>Nunc commodo, magna pharetra semper vehicula, dui ligula feugiat elit, et euismod nunc orci ut libero.</p>
        </div>
                        
                        <div class="templatemo_bottom_section_box">
                        	<h2>FUTURE PROGRAMS</h2>
                            <img alt="company" src="images/templatemo_image_2.jpg" />
                     		<ul>
                            	<li><a href="#">Donec sem pede, fringilla</a></li>
                                <li><a href="#">Neque eget ante tristiqu</a></li>
                                <li><a href="#">Consectetur adipiscing elit</a></li>
                                <li><a href="#">Duis blandit pharetra dui</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Morbi nec magna pulvinar</a></li>
                                <li><a href="#">Consectetur adipiscing elit</a></li>
                                <li><a href="#">Suspendisse ac magna quis</a></li>
                                <li><a href="#">Mattis imper diet, suscipit</a></li>
                            </ul>

                        </div>
                        
                        <div class="templatemo_bottom_section_box">
                        	<h2>NEW SERVICES</h2>
                          <img alt="products" src="images/templatemo_image_3.jpg" />
                            <p>Suspen disse a nibh tristique justo rhoncus volutpat. Suspendisse vitae neque eget ante.</p><br />
                            <p>Etiam sodales massa vel metus. Mauris et elit quis mauris aliquet luctus.</p>
              </div>
                        
                  </div><!-- End Of Bottom Panel-->
                </div><!-- End Of Right -->
                
          </div><!--  End Of Content Area-->
            
	  </div><!--  End Of Container-->    
        
	</div><!--  End Of Back Ground Section Middle  -->

    <div id="templatemo_background_section_bottom"> 
		<div class="templatemo_container">
       	  <div id="templatemo_footer_section">
           	  <div class="templatemo_footer_section_box">
                   <p><a href="http://validator.w3.org/check?uri=referer">
     		       	<img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" />
				</a>
            	  <a href="http://jigsaw.w3.org/css-validator/check/referer">
            		<img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" />                 
                 </a></p>
           	  </div>
                <div class="templatemo_footer_section_box">
                  <h2>Quick Contact</h2>
                  <p>Tel: 000-100-1010</p>
                  <p>Fax: 000-200-2020</p>
                  <p>Email: info@yourcompany.com</p>
                  <div class="cleaner_with_height"></div>
                </div>
                <div class="templatemo_footer_section_box_2">
                	Copyright © 2048 Your Company Name<br />
                    <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" title="Free CSS Templates" target="_parent">Free CSS Templates</a>
                </div>
          </div>
            
        </div>
    </div><!--  End Of Back Ground Section bottom  -->
</body>
<!--  Designed by w w w . t e m p l a t e m o . c o m  --> 
</html>